/* General styles */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f9f7fe;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #885df1;
}

/* Heading styles */

header {
	margin-bottom: 30px;
}
h1 {
	text-align: center;
	font-weight: 800;
	font-size: 36px;
	line-height: 1.5;
	color: #272044;
}

/* Container styles */
div.container {
	margin: 120px auto;
	max-width: 600px;
}

div.form-container {
	padding: 30px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
	margin-bottom: 30px;
}

/*Form and container styles*/

form {
	display: flex;
}

div.hint {
	line-height: 1.5;
	font-size: 13px;
	color: #272044;
	margin-top: 3px;
	margin-left: 5px;
}

input.instructions {
	padding: 10px;
	border: 1px solid rgba(39, 33, 66, 0.5);
	width: 80%;
	font-size: 16px;
	border-radius: 50px;
	line-height: 20px;
	color: #272044;
}

input.instructions:focus {
	outline: none;
}

input.submit-button {
	margin-left: 10px;
	background-color: #885df1;
	color: white;
	border: none;
	width: 150px;
	font-size: 16px;
	border-radius: 50px;
	padding: 14px 24px;
}

/*Poem styles */

div.poem {
	font-size: 16px;
	background-color: white;
	padding: 20px;
	line-height: 2;
	font-weight: 400;
	border-left: 3px solid #885df1;
	box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

/* Footer styles */
footer {
	text-align: center;
	margin-top: 30px;
	font-size: 13px;
}

/* Utility styles */
.hidden {
	display: none;
}

/*animations*/

.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
